{% extends 'base.html.twig' %}

{% block title %}Ability{% endblock %}

{% block body %}
    <h1>Ability</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ability.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ability.name }}</td>
            </tr>
            <tr>
                <th>Damage</th>
                <td>{{ ability.damage }}</td>
            </tr>
            <tr>
                <th>Pp</th>
                <td>{{ ability.pp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ability_index') }}">back to list</a>

    <a href="{{ path('app_ability_edit', {'id': ability.id}) }}">edit</a>

    {{ include('ability/_delete_form.html.twig') }}
{% endblock %}
